body {
  background-color: powderblue;
}
h1 {
  color: blue;
}
p {
  color: red;
}
p1 {
  border: 2px solid powderblue;
  padding: 30px;
  margin: 50px;
}
table, th, td {
  border: 1px solid black;
  padding: 30px;
}
